.comments-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #313131;
  margin: 1rem;
  border-radius: 0.3rem;
}

.comments-wrapper {
  margin: 1rem;

  width: calc(100% - 2rem);
}

.post-item {
  text-align: center;
}

.comments-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 60%;
}

.comments-form input {
  width: 100%;
}

.comment-btn {
  margin: 1rem;
  font-size: 1.3rem;
  align-self: center;
  height: 2.2rem;
  background: #ff6600;
  border-radius: 1rem;
  color: black;
}
