header {
  display: flex;

  width: 100%;
  height: 5rem;
  background: var(--color-header);
}

.title {
  font-size: 2rem;
  color: var(--color-light-shade-grey);
  margin-left: 1rem;
  padding: 0;
  align-self: center;
}

/* header nav ul {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
} */

/* Hide hamburger */
header input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 0;
  z-index: 0;
}

header label {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
}

.hamburger {
  width: 50px;
  height: 50px;
  border: 0;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  right: 0;
  background: var(--color-medium-shade-grey);
}

.hamburger-nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  background-color: rgb(43, 43, 43);
  z-index: 2;
  padding: 1.5rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease;
}

header input[type="checkbox"]:checked + label .hamburger-nav {
  transform: translateX(0);
}

header input[type="checkbox"]:checked + label .hamburger {
  background: var(--color-darkermedium-shade-grey);
}

.nav-list {
  width: 100%;
  height: 60vh;
  border-radius: 5px;
  flex-direction: column;
  list-style: none;
  padding: 30px;
  background-color: var(--color-dark-shade-grey);
}

.nav-item {
  font-size: 2rem;
  font-weight: 200;
  text-decoration: none;
  list-style: none;
  margin-top: 1rem;
  border-bottom: 0.1rem solid rgb(80, 80, 80);
}

.nav-item a {
  font-size: 1.6rem;
  color: rgb(185, 184, 184);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgb(68, 68, 68);
}

.nav-item a:hover {
  background: grey;
}

.rightNav {
  padding-top: 15rem;
}
/*
@media screen and (max-width: 768px) {
  .hamburger-nav label {
    display: flex;
    color: white;
    width: 3rem;
    height: 3rem;
    background: #1f1e1e;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical 
  .nav-items a {
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu 
  .nav-items {
    display: none;
  }
  .hamburger-nav input:checked ~ .nav-items {
    display: block;
  }
}
*/
