.profile-container {
  background: var(--color-light-shade-grey);
  margin: 1rem;
}
.profile-page {
  display: flex;
  justify-content: flex-start;
}

.profile-title {
  font-size: 2rem;
  margin-top: 2rem;
}

.profile-img-container {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1rem;
  background-color: rgb(218, 216, 216);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(87, 86, 86);
}

.biography {
  margin-top: 6rem;
}

.edit-profile {
  font-size: 1.2rem;
  height: 2rem;
  border: var(--color-medium-shade-grey);
  border-radius: 0.2rem;
  margin: 0.5rem;
  float: right;
}

/* .profile-img {
}
*/

/**  EDIT POST **/

.edit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.post-item-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
}
.post-item-comment a {
  font-size: 1.3rem;
  text-decoration: none;
}

.post-item-like {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
*/

.edit-post {
  font-size: 1.2rem;
  height: 2rem;
  border: var(--color-medium-shade-grey);
  border-radius: 0.2rem;
  margin-bottom: 0.3rem;
  margin-right: 0.3rem;
  width: 6rem;
  align-self: flex-end;
}
