.profile-container {
  background: var(--color-light-shade-grey);
  margin: 1rem;
}
.profile-page {
  display: flex;
  justify-content: flex-start;
}
.profile-title {
  font-size: 2rem;
  margin-top: 2rem;
}
.profile-img-container {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem;
  background-color: rgb(218, 216, 216);
  box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem rgb(87, 86, 86);
}
.profile-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.biography {
  margin-top: 6rem;
}
.edit-profile {
  font-size: 1.2rem;
  height: 2rem;
  border: var(--color-medium-shade-grey);
  border-radius: 0.2rem;
  margin: 0.5rem;
  float: right;
}
.user-posts-title {
  font-size: 1.6rem;
  margin-left: 3rem;
}
/**  EDIT POST **/
.edit-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.edit-wrapper input {
  width: 80%;
  max-width: 50rem;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 22rem;
}
.button-wrapper button {
  align-self: center;
  margin: 1rem;
  height: 2rem;
  width: 9rem;
}
.edit-post {
  font-size: 1.2rem;
  height: 2rem;
  border: var(--color-medium-shade-grey);
  border-radius: 0.2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  width: 9rem;
  align-self: flex-end;
}
